<!DOCTYPE html>
<html lang="en" data-th-replace="~{fragments::skeleton(~{this::content})}">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
</head>
<body>
<div>

    <section data-th-fragment="content" class="w-full max-w-md mx-auto p-6 roboto">

        <div class="max-w-xl mx-auto mb-12">
            <div class="text-center">
                <div>
                    <p class="mt-12">
                            Ups... There was an error!
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>