<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reset password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon"/>
</head>
<body>
<p>Reset password was requested for your account! Please click on the URL below to reset your password:</p>
<p>
    <a data-th-href="${passwordResetLink}" data-th-text="${passwordResetLink}">Reset Password
        link</a>
</p>
<p>
    <span>Regards, </span>
    <br/>
    <em>Kanezi - Spring OTT tutorial</em>
</p>
</body>
</html>
